# Database
POSTGRES_PASSWORD=changeme

# Network
EXTERNAL_IP=100.88.43.14

# Redis
REDIS_PASSWORD=changeme

# API / JWT
JWT_SECRET=changeme-use-a-long-random-string
JWT_ALGORITHM=HS256

# Asterisk AMI
AMI_USERNAME=pbx_api
AMI_PASSWORD=changeme